<div id="container-checkout">
    <p class="p-checkout">Gracias!!!</p>
    <p class="p-checkout">Pronto recibirás más información</p>
    <a class="link-checkout" href="/">Volver al formulario</a>
</div>